GetCacheOrCreateListAccessor<{0}>({1}, () => global::System.Array.AsReadOnly(global::System.Linq.Enumerable.ToArray(global::System.Linq.Enumerable.Select((GetValue({2}Schema.Field{3}) as global::System.Collections.Generic.IEnumerable<object>), objVal => new {4}(objVal{5}){6}))))