GetCacheOrCreateListAccessor<{0}>({1}, () => global::System.Linq.Enumerable.ToList(global::System.Linq.Enumerable.Select((GetValue({2}Schema.Field{3}) as global::System.Collections.Generic.List<object>), objVal => new {4}(objVal{5}){6}))