        
#if UNITY_EDITOR
            global::GameDBLibrary.GameDBEditorInvoker.AddRuntimeDB(this);
#endif
            this.Logger = new UnityLogger();
        }}

        {0}

        public class UnityLogger : global::GameDBLibrary.Logger
        {{
            public override void Log(string message)
            {{
                global::UnityEngine.Debug.Log(message);
            }}

            public override void LogError(string message)
            {{
                global::UnityEngine.Debug.LogError(message);
            }}

            public override void LogException(global::System.Exception e)
            {{
                global::UnityEngine.Debug.LogException(e);
            }}