        private GameDBLocalizationSelection LocalizationSelection =>
            GetPublicationMetadata<GameDBLocalizationSelection>() ??
            GameDBLocalizationSelection.Empty;

        private string ResolveLocalizationLanguage()
        {{
            var selection = LocalizationSelection;
            foreach (var language in selection.Chain)
            {{
                if (HasValue(language))
                {{
                    return language;
                }}
            }}

            throw new global::System.Collections.Generic.KeyNotFoundException(
                $"No translation is available for localization row '{{Name}}' " +
                $"in table '{0}'. Attempted languages: [" +
                global::System.String.Join(", ", selection.Chain) +
                "].");
        }}

        public string TranslatedVal
        {{
            get
            {{
                return (string)global::System.Convert.ChangeType(
                    GetValue(ResolveLocalizationLanguage()), typeof(string));
            }}
        }}

        public string LanguageVal
        {{
            get {{ return LocalizationSelection.Primary; }}
        }}

        public string ResolvedLanguageVal
        {{
            get {{ return ResolveLocalizationLanguage(); }}
        }}
