
        public global::System.Exception Load(string path, bool notify = true)
        {
            var gameDBResource = global::UnityEngine.Resources.Load<global::UnityEngine.TextAsset>(path);

            if (gameDBResource == null)
            {
                return new global::System.ArgumentException($"Failed to load GameDB {Name} at path: {path}");
            }

            return Import(gameDBResource.text, notify);
        }
