
        public global::System.Exception Load(string path, string language, bool notify = true)
        {
            LocalizationLanguage = language;

            var gameDBResource = global::UnityEngine.Resources.Load<global::UnityEngine.TextAsset>(path);

            if (gameDBResource == null)
            {
                return new global::System.ArgumentException($"Failed to load GameDB {Name} at path: {path}");
            }

            return Import(gameDBResource.text, new[] { language }, notify);
        }

        public global::System.Exception Import(string json, string language, bool notify = true)
        {
            LocalizationLanguage = language;
            return Import(json, new[] { language }, notify);
        }
