        public {1} {0}Val
        {{
            get {{ return {2}; }}
        }}

        public string LanguageVal
        {{
            get {{ return m_gameDB.LocalizationLanguage; }}
        }}

{3}